[push]
    default = simple
[alias]
    a = add
    bp = remote prune origin
    c = commit
    co = checkout
    cb = checkout -b
    rb = rebase
    rbc = rebase --continue
    rh = reset HEAD
    lg = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    merge = merge --no-ff
    up = pull --rebase --autostash
    wdiff = diff --color-words
    fcom = GIT_AUTHOR_DATE=$GIT_DATE GIT_COMMITTER_DATE=$GIT_DATE git commit
[log]
    abbrevCommit = true
    date = iso
[merge]
    conflictstyle = diff3
[color]
    ui = always
    diff = always
    status = always
    branch = always

[rerere]
	enabled = 1
